@import "variables";

#banner{
  position: relative;
  height: 100vh;
  background-image: url("../images/cityhack2019-topo-fundo-site1920x1080.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 100px 0 20px 0;
  @media only screen and (min-width: 1921px){
    background-image: url("../images/cityhack2019-topo-fundo-site2048x1365.png");
  }
  @media only screen and (max-width: 500px){
    background-image: url("../images/cityhack2019-topo-fundo-site-telmoveis500.png");
  }
  #particles-js {
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
  }
  .grafismo {
    padding: 100px 0 1rem 0;
    position: relative;
    // width: 100%;
    // flex:1;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img.logo_cityhack {
      position: relative;
      height: 100%;
      width: 100%;
      max-height: 647px;
      max-width: 632px;
      object-fit: contain;
    }
  }
  .countdown{
    position: relative;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: linear-gradient(to right, rgba(white, 0.1) 40%, #fad80b 20%, rgba(white, 0.1) 40%);
    background-image: radial-gradient(circle, #fad80b 1%, rgba(white, 0.1));
    .description{
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 0.5rem;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
      .google_form {
        background: transparent;
        color: black;
        cursor: pointer;
        i {
          transition: all 0.3s ease-in-out;
        }
        &:hover i{
          transform: rotate(-45deg);
        }
      }
    }
    .timer{
      display: flex;
      color: white;
      padding: 0;
      color: black;
      .box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        width:auto;
        .number{
          font-size: 2rem;
        }
        .label {
          text-transform: uppercase;
          font-size: 0.8rem;
        }
        &:nth-child(2){
          .number {
            &:before {
              content:':';
              position: absolute;
              color: black;
              left:-3px;
              transform: translateY(-5px);
            }
            &:after {
              content:':';
              position: absolute;
              color: black;
              right:-3px;
              transform: translateY(-5px);
            }
          }
        }
        &:last-child {
          .number {
            &:before {
              content:':';
              position: absolute;
              color: black;
              left:-3px;
              transform: translateY(-5px);
            }
          }
        }
      }
    }

    .WeAreCityHack {
      position: absolute;
      right:2rem;
      top:50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      label {
        font-size: 1rem;
        font-weight: bold;
      }
      .redesSociais i {
        color: white;
        font-size: 1.5rem;
        margin: 0.5rem 0.2rem;
      }
    }
  }
  .apoio {
    height: 100px;
    text-align: center;
    margin-top: 1rem;
    padding: 0.5rem 0;
    h1 {
      color: white;
      font-weight: 300;
      font-size: 1rem;
    }
    img.logo_Gulbenkian {
      position: relative;
      height: 70%;
      width: 100%;
      object-fit: contain;
    }
  }

  @media only screen and (max-width: 640px){
    .countdown {
      .description {
        font-size: 1rem;
      }
      .timer .box .number {
        font-size: 1.6rem;
      }
      .WeAreCityHack {
        margin-top: 1.5rem;
        position: relative;
        top:inherit;
        right: inherit;
        transform: translateY(0);
      }
    }

  //   .imagem {
  //     padding-bottom: 150px;
  //   }
  //   .apoio{
  //     right:50%;
  //     transform: translateX(50%);
  //   }
  }
  //
  // @media only screen and (max-width: 1000px){
  //   flex-direction: column;
  //   .countdown{
  //     height: auto;
  //     padding-top: 1rem;
  //     padding-bottom: 1rem;
  //     margin-top: 120px;
  //     width: 100%;
  //     .description {
  //       font-size: 1rem;
  //       .google_form {
  //         padding: 0.25rem 0.5rem;
  //         margin-right: 0.3rem;
  //       }
  //     }
  //     .timer {
  //       padding-top: 0.5rem;
  //       padding-bottom: 0;
  //       justify-content: center;
  //       .box {
  //         width: 80px;
  //         .number {
  //           font-size: 2rem;
  //         }
  //         .label {
  //           font-size: 0.7rem;
  //         }
  //       }
  //     }
  //   }
  //   .imagem {
  //     padding-top: 10px;
  //     padding-bottom: 90px;
  //   }
  //   .apoio{
  //     h1{ font-size: 1rem;}
  //     img.logo_Gulbenkian {
  //       width: 60%;
  //     }
  //   }
  // }
}
